//AboutUs

@import "../custom";

.paralax-bg {
    //background-size: cover;

    // display: flex;
    // align-items: center;
    // justify-content: center;
    // background-position: center center;
    // transform: translateZ(-0.5px) scale(2);
     background-size: cover;
    background-image: url(../assets/img/paralax.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
    height: 70vh;

 
      .parallax-content{
        z-index: -1;
        transform: translateY(-25vh) translateZ(0px) scale(1);
        padding-left:30px;
        padding-right:30px;
        text-align:center;
      }
  }
  







.inner-time-info {
    margin-bottom: 15px;
  }
  .inner-sidebar {
    margin-bottom: 30px;
  }
  .shedule-front {
    border: solid 10px  $secondary-light!important;
    padding: 40px 20px 30px 20px;
  }
  .inner-time-info {
    margin-bottom: 15px;
  }
  
  .list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
    
  
    .list-group-item {
      position: relative;
      display: block;
     
  
      border-radius: 0px;
      margin: 4px 0px 4px 0px;
      border: none;
      background: #FAFCFC;
      font-family: 'Archivo Narrow', sans-serif;
      padding: 10px 25px;
      transition: 0.3s;
      border-left: solid 2px  $secondary!important;
    }
  }
  