@import '../custom';


@media (min-width:1200px) {
    .st-nav-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       
       justify-content: space-around;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background-color: $primary;
    
        .text-white{
            font-weight: 700;
        }
     
    }
}
// @media (max-width:767px) {
//     .st-nav-menu{
//         display:none;
//     }
// }



img.logo{
    height: 60px;
    width: auto;
}