@import '../custom';

@media (max-width:700px) {
    .st-nav-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       justify-content: space-around;
        margin: 0px;
 
        list-style: none;
        background-color: $primary;
    
        .text-white{
            font-weight: 700;
            font-size: 48px;
            color: $primary;
        }
     
    }
}

@media (max-width:1200px) {
    .navigation-area{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       
        margin-left: 5%;
        margin-right:5%;
        list-style: none;
        background-color: $primary;
    
        .text-white{
            font-weight: 700;
            color: $primary;
        }
     
    }
}

@media (min-width:1201px) {
    .navigation-area{
        display: 'flex';
        justify-content: 'space-around';
        padding-top: '15px';
        padding-bottom: '15px';
        margin:'auto';
        background-color:$primary;
   
    
        .text-white{
            font-weight: 700;
            
        }
     
    }
}
// @media (max-width:767px) {
//     .st-nav-menu{
//         display:none;
//     }
// }



img.logo{
    height: 60px;
    width: auto;
}