@import '../custom';

@media (max-width:700px) {
    .st-nav-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       justify-content: space-around;
        margin: 0px;
 
        list-style: none;
        background-color: $primary;
    
        .text-white{
            font-weight: 700;
            font-size: 48px;
            color: $primary;
        }
     
    }
}

//tablet y mobile
@media (max-width:1199px) {
    .menu-container{
    
        display: flex;
        width: 80vw;
        justify-content: center;
        margin-left: 0%;
        padding-left: 0%;
        margin-right:0%;
        list-style: none;
        background-color: $secondary-light;
        color: $primary;
    
        .text-white{
            font-weight: 700;
            color: $primary;
        }
     
    }
}

//tamaño desktop 
@media (min-width:1199px) {
    .menu-container{
        display: 'flex';
        justify-content: 'space-around';
        width: 100vw;
        padding-top: '15px';
        padding-bottom: '15px';
        margin-left: 0%;
        margin-right:0%;
        background-color:$primary;
   
        .text-white{
            font-weight: 700;
            
        }
     
    }
}




img.logo{
    height: 60px;
    width: auto;
}