
.bold, strong {
    font-weight: 700!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 1rem;
    font-weight: 400;
    color: #161c2d;
}

@media (min-width: 1200px){
 h2 {
    font-size: 2rem;
}}