@import "../custom.scss";
div{
    margin: 0;
}

div.sup-area.container {
    
    flex-direction: row;
    padding: 0;
    margin: 0;

    // mobile
    @media (max-width: 571px) {
        background-color: black;
    }

    // tablet and desktop
    @media (min-width: 572px) {
        .desktop {
            background-color: rgba($primary, 1);
        }

        .mobile {
            display: none;
        }
    }
}