
@import "../custom.scss";
.sup-area{
    display: flex;
    flex-direction: row;
    // mobile
    @media (max-width:571px) {
        background-color: black;
    }
    // tablet
    @media (max-width:572px) and (max-width: 768px) {
    
            .desktop{
                background-color: rgba($primary, 1);
                display: none;
            }
        
        
    }
    // desktop
    @media (min-width:769px) {
        
            .mobile{
                display: none;
            }
    
    }
}