
.sup-area{
    display: flex;
    flex-direction: row;
    @media (max-width:1199px) {
    
            .desktop{
                display: none;
            }
        
        
    }
    @media (min-width:1199px) {
        
            .mobile{
                display: none;
            }
    
    }
}