@import '../custom';


/* mobile desing */
@media (max-width:571px) {

    .position_fixed {
        //position: fixed;
        position: relative;
        // altura del menu 
        top: 0%;
        transition: .3s ease-in-out;
        overflow: hidden;
        //background-color: rgba(251, 249, 247, 1); //$primary;

        // .menu-colapsible {
        //     // ocultar al bajar
        //     display: none;
        // }
        a {
            text-decoration: none;
            /* Elimina el subrayado predeterminado */
            position: relative;
            transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
            color: $secondary;
        }

        a:hover {

            transform: translateY(0);
            transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
            //background-color: $contrast; // #c02323;
            text-transform: capitalize;
            //border-radius: 100px;
            color: $secondary;
        }




    }

    .position_initial {
        position: fixed;
        top: 5%;
        transition: .3s ease-in-out;
        overflow: hidden;
        // background-image: -webkit-gradient(linear, left bottom, right top, from($secondary), to($secondary-light));
       background-color: aliceblue;

        a:hover {
            //esta clase entra como primer lugar despues
            transform: translateY(0);
            transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
            //background-color: $contrast; // #c02323;
            //border-radius: 100px;
            ///text-transform: capitalize;
            color: $primary;
            font-weight: 400;
            font-size: 1.1rem;
        }

        // gesto de subrayado
        a:hover::after {
            content: '';
            position: absolute;
            width: 10%;
            height: 2px;
            /* Grosor del subrayado */
            bottom: 2px;
            left: 0px;
            /* Coloca el subrayado justo debajo del texto */
            background-color: $light;
            /* Color del subrayado */
        }
    }

    .menu-container_mobile {
        display: 'flex';
        flex-direction: row; //pone todos los subelementos uno debajo de otro
        margin-top: -1%;
        margin-left: 0%;
        background-color: rgba($light, 1);
        color: rgba($light, 1);
        max-width: 571;
        // width: 105%;
        // height:155px;

        button.navbar-toggler {
            // position:relative;
            // top:0px;   
            // //para organizar hacia la derecha
            // right:10px;
            margin-left: 2%;
        }
        .navbar-brand{
            // position: relative;
            //     top: 0px;
            //     //para organizar hacia la derecha
            //     right: 15px;
            margin-left: 30%;
        }

        .menu-colapsible {
            justify-content: flex-start;
            width: 100vw; //el contenido esta al ancho 
            background-color: rgba($primary, 0.5);
            color: rgba($dark, 0.7);
            top:10px;
            left: 10px;
            transition: left 0.1s ease;

            a {
                background-color: rgba($primary, 1);
                color: rgba($light, 1);
                padding-left: 20px;
            }

            a:hover {
                // background-color: rgba($light, 0.5);
                // color: rgba(#aaa, 1);
                font-weight: 400;
                font-size: 1.3rem;
                //border-radius:0%  100px;

            }
        }

        .title-menu {
            display: block;
            font-weight: 500;
            font-size: 28px;
            color: $primary;
        }

    }
}

//tablet 
@media (min-width:572px) and (max-width: 768px) {
    body{
        display: none;
    }
    
    
}


///////////////////
/// Desktop 
@media (min-width:769px) {
    .position_initial {
        position: fixed;
        top: 5%;
        transition: .3s ease-in-out;
        overflow: hidden;


        // background-image: -webkit-gradient(linear, left bottom, right top, from($secondary), to($secondary-light));
        // background-image: linear-gradient(to right top, $primary, $secondary);

        a:hover {
            //esta clase entra como primer lugar despues
            transform: translateY(0);
            transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
            //background-color: $contrast; // #c02323;
            //border-radius: 100px;
            ///text-transform: capitalize;
            color: $primary;
            font-weight: 400;
            font-size: 1.1rem;
        }

        // gesto de subrayado
        a:hover::after {
            content: '';
            position: absolute;
            width: 10%;
            height: 2px;
            /* Grosor del subrayado */
            bottom: 2px;
            left: 0px;
            /* Coloca el subrayado justo debajo del texto */
            background-color: $light;
            /* Color del subrayado */
        }
    }

    .position_fixed {
        //position: fixed;
        position: relative;
        // altura del menu 
        top: 0%;
        transition: .3s ease-in-out;
        overflow: hidden;
        //background-color: rgba(251, 249, 247, 1); //$primary;

        // .menu-colapsible {
        //     // ocultar al bajar
        //     display: none;
        // }
        a {
            text-decoration: none;
            /* Elimina el subrayado predeterminado */
            position: relative;
            transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
            color: $secondary;
        }

        a:hover {

            transform: translateY(0);
            transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
            //background-color: $contrast; // #c02323;
            text-transform: capitalize;
            //border-radius: 100px;
            color: $secondary;
        }




    }
    .menu-container_mobile{
        display:none;
    }

    .menu-container_desktop {
       
        height: 3rem;
        position: 'fixed ';
        top: 30px;
        width: 300px;
        z-index: 99999;
        background-color: rgba(#345, 1);

        a {
            color: $primary;
        }

        a:hover {
            //background-color: rgba($primary, 0.5);
            color: $primary;
            font-weight: 400;
            font-size: 18px;
            //border-radius: 100px;
        }

        .title-menu {
            display: none;
            font-weight: 700;
            font-size: 28px;
            color: $primary;
        }
    }

    .margin-20 {
        margin-left: 20%;
    }

    ;
}




img.logo {
    height: 60px;
    width: auto;
}