@import '../custom';

@media (max-width:700px) {
    .menu-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       justify-content: space-around;
        margin: 0px;
        border-radius: 80% 50%;
        list-style: none;
        background-color: $primary;
    
        .text-white{
            font-weight: 700;
            font-size: 48px;
            color: $primary;
        }
     
    }
}

//tablet y mobile
@media (max-width:1199px) {
    
    .menu-container{
        display: 'flex';
        justify-content: 'space-around';
       // width: 100vw;
       // padding-top: '15px';
       // padding-bottom: '15px';
       padding-left: 5%;
       margin-left: 0%;
       margin-right:0%;
     
       background-image: url("../assets/img/paralax.png");
       background-size: cover;
       width: 100%;
       z-index: 9;
      
       .text-contrast{
        padding-left: 15%;
        font-family: 'Montserrat';
        font-weight: 700;
        color:$dark;}
   }
}

//tamaño desktop 
@media (min-width:1199px) {
    .menu-container{
         display: 'flex';
         justify-content: 'space-around';
        // width: 100vw;
        // padding-top: '15px';
        // padding-bottom: '15px';

        margin-right:0%;
        background-color:$primary;
        width: 800px;
        z-index: 9;
        
    }
    .margin-20{
        margin-left: 20%;
    };
}




img.logo{
    height: 60px;
    width: auto;
}