body {
    margin: 0;
    font-family: Poppins,sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #6d768b;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(22,28,45,0);
}

.font-lg {
    font-size: 3.25rem!important;
}
.regular {
    font-weight: 400!important;
}
.text-contrast {
    color: #fff!important;
}

.pricing{
    .pricing-value {
        font-family: Poppins,sans-serif;
        font-size: 3.25rem;
    }
}

.btn-rounded {
    border-radius: 10rem;
}

.demo-blocks .block {
    margin-bottom: 3rem;
    margin-top: 3rem;
    -webkit-box-shadow: 0 0 0.75rem rgb(0 0 0 / 8%);
    box-shadow: 0 0 0.75rem rgb(0 0 0 / 8%);
    border: 1px solid #d9e2ef;
    border-radius: 0.25rem;
    background-color: #fff;
}

.bg-info-gradient {
    background: -webkit-gradient(linear,left top,left bottom,from(#00a3e4),to(#00a0e0));
    background: linear-gradient(#00a3e4,#00a0e0);
}