.sc_team_item_title{
    color: #34b8c0;
font-weight: 700;
}

.sc_team_item_position{
    text-align: center;
    position: relative;
    z-index: 3;
}

h3{
    font-size: 1.6667em;
}

.title{
    margin-top: 38px;
    margin-bottom: 14px;
    background-color: aqua;
}
.container{
    padding-top: 21px;
    padding-bottom: 70px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
.picture-border{
     background-color: $contrast;
     height: "auto";
     padding: "1px";
     z-index: "999" ;
}