
@import "custom";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
  font-family: "Montserrat";
}

.section {
  background-color: #f1f4f8;
  font-family: Poppins, sans-serif;
  display:flex;
  justify-content:center;
  align-items: center;

  .block-light {
   
    margin-bottom: 2rem;
    margin-top: 2rem;
    -webkit-box-shadow: 0 0 0.75rem rgb(0 0 0 / 8%);
    box-shadow: 0 0 0.75rem rgba(238, 237, 237, 0.08);
    border: 1px solid #d9e2ef;
    border-radius: 0.25rem;
    background-color: #fff;
  }
  .section-heading {
    margin: 0;
    font-family: Poppins,sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: $gray;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(22,28,45,0);
  
    .bold{
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 2.875rem;
        color: $primary;
    }
  
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      font-family: "Monserrat";
      color:$primary;
      font-weight: 700;
  }
  
  }
}

//-----BACKGROUNDS

.demo-blocks {
  background-color: #f1f4f8
}
.bg-primary {
  background-color: $primary!important;
}
.bg-secondary {
  background-color: $secondary-light!important
}
.bg-darker {
  background-color: #161c2d !important
}
.gradient-primary-dark {
  background-image: -webkit-gradient(linear,left bottom,right top,from($secondary),to($secondary-light));
  background-image: linear-gradient(to right top,$primary,$secondary);
}
.gradient-primary-light {
  background-image: -webkit-gradient(linear,left bottom,right top,from($secondary),to($secondary-light));
  background-image: linear-gradient(to right top,$secondary,$secondary-light);
}
.bg-light{
   background-color: #f1f4f8 !important;
}
.gb-primary-img{
  background-image: url("https://picsum.photos/1920/1200/?random&amp;gravity=south");
  background-color:rgba(85,51,255,.5)!important;
  background-size: cover;
}

.overlay{

//background-image:linear-gradient(to right top,rgba(167,114,255,.1),rgba(0,131,221,.1));
background-color: rgba(23, 10, 89, 0.7);
z-index : 10;
height: 50vh;
}

.bg-hero{
  height: 500px;
  background-image: url("./assets/img/dientes/hero.png");
}



//-------------------------

.text-big-18 {
  font-family: "Montserrat";
  font-size: "18px";
  line-height: "1.6em";
  color: "#575452";
}

// 1 colores y formatos  para los textos
.text-center {
  text-align: center !important
}
.text-contrast {
  color: #fff!important;
}
.text-secondary {
  color: #506690!important;
}
.text-light {
  color: #f1f4f8 !important
}
.text-dark {
  color: #2b354f !important
}
.text-primary {
  color: #53f !important
}

.text-info {
  color:$info !important
}

.font-md {
  font-size: 1.75rem!important;
}

.font-regular {
  font-size: 1rem !important
}

.bold, strong {
  font-weight: 700!important;
}
.text-uppercase {
  text-transform: uppercase!important;
}

.lead {
  font-size: 1rem;
  font-weight: 400;
}

//2 backgrounds colors


//para el carrusel
.w-100 {
  width: 100%!important;

}
